.grid{
    display: grid;
    grid-template-columns:  repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows:  minmax(120px, 180fr);
    padding:  25px;
    gap:  20px
}

.list{
    display: flex;
    flex-direction:  column;
    padding:  5vw;
    gap:  5vh;
}