:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  margin:0;
}

.light *{
  --font :#202020;
  --fontDim : #353535;
  --primary: #bbbbbb;
  --secondary: #ffffff;
  --terciary: #ccccff;
  --highlight: #0060ff;
  --highlightDim: #003090;
  --highlightContrast: #dddddd;
}

.dark *{
  --font :#ffffff;
  --fontDim : #aaaaaa;
  --primary: #202020;
  --secondary: #303030;
  --terciary: #101010;
  --highlight: #0060ff;
  --highlightDim: #003090;
  --highlightContrast: #eeeeee;
}


